@namespace s "library://ns.adobe.com/flex/spark";
@namespace components "components.*";

@font-face {
	src:url("../assets/Univers-CondensedBold.otf");
	fontFamily: universe;
	embedAsCFF: true;
}

s|Application {
	backgroundColor: #152184;
}

s|BorderContainer.homeViewBorder {
	backgroundColor: #152184;
	borderWeight: 3;
	borderColor: #FFFFFF;
	borderVisible: true;
	cornerRadius: 50;
}

s|Label.flippingLabel {
	color: #FFFFFF;
	backgroundColor: #25308A;
	fontFamily: universe;
	fontSize: 20;
	paddingLeft: 2;
}